<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/login.css" />
  </head>
  <body>
    <section>
      <h1>Hello Binarian!</h1>
      <div class="form-container">
        <% if (messages.error) { %>
        <h5><%= messages.error %></h5>
        <% } %>
        <form method="POST" action="/login">
          <div class="control">
            <label for="username">Username</label>
            <br />
            <input
              type="text"
              name="username"
              placeholder="Insert your username"
              class="form-control"
            />
            <br />
            <label for="password">Password</label>
            <br />
            <input
              type="password"
              name="password"
              placeholder="Insert your password"
              class="form-control"
            />
            <br />
            <input type="submit" value="Login" />
            <!-- <button type="submit">Login</button> -->
          </div>
        </form>
        <h5>Kamu admin? login <a href="/loginAdmin">di sini</a></h5>
      </div>
    </section>
  </body>
</html>
